::selection {
  background-color: #bae;
  color: midnightblue;
}

:root {
  color: #318;
  background-color: #529;
  background-image: linear-gradient(skyblue, deepskyblue);
}

@media (prefers-color-scheme: dar) {
  :root {
    color: #318;
    background-color: #529;
    background-image: linear-gradient(pink, violet);
  }
}

:any-link {
  color: #529;
}

:focus {
  filter: hue-rotate(-36deg);
}

:any-link:hover {
  filter: hue-rotate(-72deg);
}

.shy {
  text-shadow:
    0 1vh 1vmin #bae,
    0 3vh 1vmin #bae,
    0 5vh 2vmin #bae,
    0 8vh 3vmin #bae,
    0 13vh 5vmin #bae,
    0 21vh 8vmin #bae,
    0 34vh 13vmin #bae,
    0 55vh 21vmin #bae;
}
