@media (prefers-color-scheme: dark) {
  :root {
    color: #528;
    background-color: pink;
    background-image: linear-gradient(pink, violet);
  }

  ::selection {
    background: #528;
    color: pink;
  }
}

@media (prefers-color-scheme: light) {
  ::selection {
    background: #528;
    color: powderblue;
  }

  :root {
    color: #528;
    background-color: skyblue;
    background-image: linear-gradient(powderblue, skyblue);
  }
}

:any-link {
  color: inherit;
}

:focus {
  filter: hue-rotate(-36deg);
}

:any-link:hover {
  filter: hue-rotate(-72deg);
}

.shy {
  text-shadow:
    0 1vh 1vmin #bae,
    0 3vh 1vmin #bae,
    0 5vh 2vmin #bae,
    0 8vh 3vmin #bae,
    0 13vh 5vmin #bae,
    0 21vh 8vmin #bae,
    0 34vh 13vmin #bae,
    0 55vh 21vmin #bae;
}
