:root {
  font-family: sans-serif;
  font-size: calc(1em + 1vmin + 1vmax);
  line-height: 1.6;
}

:any-link {
  font-size: max(1rem, 44px);
}

:focus {
  outline-style: dashed;
  outline-width: thick;
}

.bold {
  font-weight: bolder;
}

.free {
  margin: auto;
}

h1 {

  transform: perspective(100%);
  font: 1.6em monospace;
}

.pad {
  padding: 1ex;
}

.wall {
  min-height: 100vh;
}

.ess { font-style: oblique }
.ess s { font-size: 0 }
.ess::before { content: "$" }

.shell {
  max-width: 61vw;
}
